{% extends "base.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Sign Out" %}
{% endblock head_title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xl-6 d-flex salesware-txt-color justify-content-center p-1 border rounded">
            <div class="centered-content">
                <h1>{% trans "Sign Out" %}</h1>
                <div class="row mt-3 mb-3">
                    <div>{% trans 'Are you sure you want to sign out?' %}
                    </div>
                </div>
                <div class="row mt-3 mb-3">
                    <form action="{% url 'account_logout' %}" class="login" method="Post">
                        {% csrf_token %}
                        {{ form.as_p}}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
                        {% endif %}
                        <button type="submit" class="btn btn-primary btn-lg">{% trans "Sign Out" %}</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xl-6 d-flex justify-content-center p-1 border rounded">
            <div class="centered-content">
                <img src="/static/images/large_logo.png" class="img-fluid" alt="SalesWare Large Logo">
            </div>
        </div>
    </div>
</div>
{% endblock content %}
