{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="mb-3 salesware-txt-color">
                <label for="product-detial-name" class="form-label mt-1 mb-1 ms-1">Product Name:</label>
                <input type="text" class="form-control" id="product-detial-name" name="name" value="{{ product.name }}"
                    autocomplete="name" required>
                <label for="product-detial-price" class="form-label mt-1 mb-1">Price:</label>
                <input type="text" class="form-control" id="product-detial-price" name="price"
                    value="{{ product.price }}" autocomplete="transaction-amount" required>
                <div>
                    <label for="product-detial-currency">Currency</label>
                    <select name="currency" id="product-create-currency" class="form-select"
                        aria-label="Default select example">
                        <option value="{{ product.currency }}" selected>{{ product.currency }}</option>
                        <option value="EUR">EUR</option>
                        <option value="USD">USD</option>
                        <option value="GBP">GBP</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}