{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="mb-3 salesware-txt-color">
                <label for="product-create-name" class="form-label mt-1 mb-1 ms-1">Product Name:</label>
                <input name="name" type="text" class="form-control" id="product-create-name" placeholder="Product Name"
                    autocomplete="name" required>
                <label for="product-create-price" class="form-label mt-1 mb-1">Product Price:</label>
                <input name="price" type="number" class="form-control" id="product-create-price"
                    placeholder="Product Price" autocomplete="transaction-amount" required>
                <div>
                    <label for="product-create-currency">Currency</label>
                    <select name="currency" id="product-create-currency" class="form-select"
                        aria-label="Default select example">
                        <option value="EUR">EUR</option>
                        <option value="USD">USD</option>
                        <option value="GBP">GBP</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}