{% extends "base.html" %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
<!-- Container holds the button needed to open the create new prospect form-->
<div class="container">
  <div class="row">
    <div class="col-4">
      <!-- Button trigger modal that holds the new prospect form -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#open-create-new-prospect-modal" action="{% url 'prospect_create' %}">
        +Prospect
      </button>
    </div>
  </div>
</div>

<!-- Create New Prospect Modal -->
<div class="modal fade" id="open-create-new-prospect-modal" data-bs-backdrop="static" data-bs-keyboard="false"
  tabindex="-1" aria-labelledby="open-create-new-prospect-modal-label" aria-hidden="false">
  <div class=" modal-dialog">
    <div class="modal-content">
      <div class="modal-header salesware-background-color">
        <h1 class="modal-title fs-5 text-white" id="open-create-new-prospect-modal-label">Create New Prospect</h1>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"
          id="create-new-prospect-close-btn"></button>
      </div>
      <form method="post" action="{% url 'prospect_create' %}" id="create-new-prospect-form">
        <div class="modal-body response-message salesware-txt-color" id="open-create-new-prospect-modal-body">
          <!-- Here goes the From content provided in prospect_create.html -->
        </div>
        {% csrf_token %}
      </form>
      <div class="modal-footer salesware-background-color text-white">
        <div class="container">
          <div class="row">
            <div class="d-flex align-items-start">
              <div class="flex-grow-1 p-2"><img src="/static/images/small_logo.png" alt="Small Logo" width="80"
                  height="45"></div>
              <div class="p-2"><button type="button" class="btn btn-secondary mt-1" data-bs-dismiss="modal"
                  id="create-new-prospect-cancel-btn">Cancel</button>
              </div>
              <div class="p-2"><button type="submit" form="create-new-prospect-form" class="btn btn-success mt-1"
                  id="create-new-prospect-btn">Create</button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Table list all the prospects in the database -->
<div class=" container">
  <div class="row">
    <div class="col-12 table-responsive-lg">
      <table class="table table-bordered table-hover table-sm">
        <caption class="caption-top">List of Prospects</caption>
        <thead>
          <tr>
            <th scope="col">Company</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Title</th>
            <th scope="col">Industry</th>
            <th scope="col">Country</th>
            <th scope="col">Owner</th>
            <th scope="col">Created Date</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          {% for prospect in object_list %}
          <tr>
            <td><!-- Anchor Element to trigger the open prospect detail modal -->
              <a href="#" data-bs-toggle="modal" data-bs-target="#open-prospect-detail-modal"
                data-url="{% url 'prospect_detail' prospect.id %}" class="salesware-txt-color">{{prospect.company}}</a>
            </td>
            <td>{{prospect.first_name}}</td>
            <td>{{prospect.last_name}}</td>
            <td>{{prospect.email}}</td>
            <td>{{prospect.title}}</td>
            <td>{{prospect.industry}}</td>
            <td>{{prospect.country}}</td>
            <td>{{prospect.owner}}</td>
            <td>{{ prospect.created_on|date:"Y-m-d" }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Open Prospect Detail Modal -->
<div class="modal fade" id="open-prospect-detail-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="open-prospect-detail-modal-label" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header salesware-background-color">
        <h1 class="modal-title fs-5 text-white" id="open-prospect-detail-modal-label">Prospect Details</h1>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"
          id="open-prospect-detail-modal-close-btn"></button>
      </div>
      <form method="post" id="edit-delete-prospect-form">
        <div class="modal-body response-message salesware-txt-color" id="open-prospect-detail-modal-body">
          <!-- Prospect Detail appears here -->
        </div>
        {% csrf_token %}
      </form>
      <div class="modal-footer salesware-background-color text-white">
        <div class="container">
          <div class="row">
            <div class="d-flex align-items-start">
              <div class="flex-grow-1 p-2"><img src="/static/images/small_logo.png" alt="Small Logo" width="80"
                  height="45"></div>
              <div class="p-2"><button type="button" class="btn btn-secondary mt-1" data-bs-dismiss="modal"
                  id="edit-delete-prospect-close-btn">Close</button></div>
              <div class="p-2"><button type="submit" form="edit-delete-prospect-form" class="btn btn-success mt-1"
                  id="edit-prospect-btn">Update</button></div>
              <div class="p-2"><button type="button" class="btn btn-danger mt-1" data-bs-toggle="modal"
                  data-bs-target="#confirm-delete-prospect-btn" id="delete-prospect-btn">Delete</button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal to open the prospect delete confirmation message  -->
<div class="modal fade" id="confirm-delete-prospect-btn" tabindex="-1"
  aria-labelledby="confirm-delete-prospect-btn-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header salesware-background-color">
        <h1 class="modal-title fs-5 text-white" id="confirm-delete-prospect-btn-label">Prospect is about to be deleted!
        </h1>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"
          id="prospect-delete-close-confirm-modal-x-btn"></button>
      </div>
      <div class="modal-body response-message salesware-txt-color" id="confirm-delete-prospect-modal-body">
        Are sure you want to delete this prospect?
      </div>
      <div class="modal-footer salesware-background-color text-white">
        <div class="container">
          <div class="row">
            <div class="d-flex align-items-start">
              <div class="flex-grow-1 p-2"><img src="/static/images/small_logo.png" alt="Small Logo" width="80"
                  height="45"></div>
              <div class="p-2"><button type="button" class="btn btn-secondary mt-1" data-bs-dismiss="modal"
                  id="prospect-delete-close-confirm-modal-btn">Close</button>
              </div>
              <div class="p-2"><button type="submit" form="edit-delete-prospect-form" class="btn btn-danger mt-1"
                  id="prospect-delete-confirmed-btn">Confirm</button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock content %}

{% block extras %}

<script src="{% static 'js/prospect.js' %}" defer></script>

{% endblock %}