{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Table list all the prospects in the database -->
<div class="container">
  <div class="row">
    <div class="col-12 table-responsive-lg">
      <table class="table table-bordered table-hover table-sm">
        <caption class="caption-top">List of Prospects</caption>
        <thead>
          <tr>
            <th scope="col">Company</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Title</th>
            <th scope="col">Industry</th>
            <th scope="col">Country</th>
            <th scope="col">Owner</th>
            <th scope="col">Created Date</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          {% for prospect in object_list %}
          <tr>
            <td><!-- Anchor trigger modal for open prospect detail -->
              <a href="#" data-bs-toggle="modal" data-bs-target="#open-prospect-detail-modal"
                data-url="{% url 'prospect_detail' prospect.id %}" class="salesware-txt-color">{{prospect.company}}</a></td>
            <td>{{prospect.first_name}}</td>
            <td>{{prospect.last_name}}</td>
            <td>{{prospect.email}}</td>
            <td>{{prospect.job_title}}</td>
            <td>{{prospect.industry}}</td>
            <td>{{prospect.country}}</td>
            <td>{{prospect.owner}}</td>
            <td>{{ prospect.created_on|date:"Y-m-d" }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Open Prospect Detail Modal -->
<div class="modal fade" id="open-prospect-detail-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="open-prospect-detail-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header salesware-background-color">
        <h1 class="modal-title fs-5 text-white" id="open-prospect-detail-modal-label">Prospect Details</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Prospect Detail appears here -->
      </div>
      <div class="modal-footer salesware-background-color text-white">
        <div class="container">
          <div class="row">
            <div class="d-flex align-items-start">
              <div class="flex-grow-1 p-2"><img src="/static/images/small_logo.png" alt="Small Logo" width="80"
                  height="45"></div>
              <div class="p-2"><button type="button" class="btn btn-secondary mt-1"
                  data-bs-dismiss="modal">Close</button></div>
              <div class="p-2"><button type="button" class="btn btn-success mt-1">Update</button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock content %}

{% block extras %}

<script src="{% static 'js/prospects.js' %}" defer></script>

{% endblock %}