{% load static %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- The Meta tags for search engines go here -->
    <meta name="description" content="SalesWare, a sales process software module of a CRM tool ">
    <meta name="keywords" content="Sales Process Tool, Sales SAAS, CRM">
    <!-- Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- The favicon goes here-->
    <link rel="icon" type="image/x-icon" href="{% static 'favicon/favicon.ico' %}">
    <title>SalesWare</title>
</head>

<body>
    <!-- Header goes here -->
    <header class="mt-auto py-1">
        <div class="container">
            <nav class="navbar navbar-expand-md">
                <div class="container-fluid p-2">
                    <a class="navbar-brand text-white" href="{% url 'home' %}">
                        <img src="/static/images/medium_logo.png" alt="Logo" width="132" height="74"
                            style="object-fit: cover;">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link active text-white" aria-current="page"
                                    href="{% url 'home' %}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="{% url 'prospect_list' %}">Prospects</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="{% url 'product_list' %}">Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="{% url 'opportunity_list' %}">Opportunity</a>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link active text-white" aria-current="page" href="{% url 'home' %}">Home</a>
                            </li>
                            {% endif %}
                            <!-- Navbar Dropdown menu starts here -->
                            <li class="nav-item dropdown">
                                {% if user.is_authenticated %}
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Hello, {{ user.username }}!
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item nav-link {% if request.path == logout_url %}active{% endif %}"
                                            href="{% url 'account_logout' %}">Sign out</a></li>
                                </ul>
                                {% else %}
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Sign in!
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item nav-link {% if request.path == signup_url %}active{% endif %}"
                                            href="{% url 'account_signup' %}">Sign up</a></li>
                                    <li><a class="dropdown-item nav-link {% if request.path == login_url %}active{% endif %}"
                                            href="{% url 'account_login' %}">Sign in</a></li>
                                </ul>
                                {% endif %}
                            </li>
                            <!-- Navbar Dropdown menu ends here -->
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <div class="salesware-background-color">
            <hr>
        </div>
    </div>
    <!-- Main goes here -->
    <main>
        {% block content %}
        <!-- Content goes here -->
        {% endblock content %}
    </main>
    <div class="container">
        <div class="salesware-background-color">
            <hr>
        </div>
    </div>
    <!-- Footer goes here -->
    <footer class="mt-auto py-1">
        <div class="container salesware-background-color text-white">
            <div class="row align-items-center">
                <div class="col text-center"><img src="/static/images/small_logo.png" alt="Small Logo" width="80"
                        height="45"></div>
                <div class="col d-none d-md-block text-center">&copy; Copyright | SalesWare</div>
                <div class="col text-center"><a href="https://github.com/ahmedcodein" target="_blank" rel="noopener"
                        aria-label="author's GitHub repository"><i
                            class="fa-brands fa-github pages-icons fs-1 text-white"></i></a></div>
            </div>
        </div>
    </footer>

    <!-- Font Awesome Kit -->
    <script src="https://kit.fontawesome.com/9e92da5b95.js" crossorigin="anonymous"></script>

    {% block extras %}
    {% endblock %}
</body>

</html>