{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col salesware-txt-color text-center">
            <h1>Ops!</h1>
            <h2>Something went wrong!</h2>
            <a class="h6" href="/">Return to the Home page</a>
            <div class="text-center mt-3">
                <img src="/static/images/error.png" class="rounded img-fluid" alt="Broken Process">
            </div>
        </div>
    </div>
</div>
{% endblock content %}