{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container text-center" id="contact-heading">
    <div class="row">
        <div class="col-12">
            <h1 class="text-muted">Contact Support</h1>
        </div>
        <div class="col-12">
            <p class="lead">Need assistance?</p>
        </div>
        <div class="col-12">
            <span><strong><mark>We're here to support
                        you!</mark></strong></span>
            <p class="lead d-none d-md-block">Our team is ready to help. Whether you have a question, a specific
                request, or require a customized version of SalesWar.</p>
        </div>
        <div class="d-none d-lg-block col-lg-12">
            <p class="text-muted">Simply send us your inquiry, and we'll provide the support you need to excel in your
                role.</p>
        </div>
    </div>
    <hr>
</div>

<div class="container">
    <div class="row justify-content-sm-center">
        <div class="col-12 col-sm-9 col-md-8 col-lg-6">
            <form id="contact-form" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="contact-form-recipient" class="form-label" hidden>Recipient:</label>
                    <input type="text" name="recipient" class="form-control" id="contact-form-recipient"
                        value="SalesWare Support" hidden readonly>
                </div>
                <div class="mb-3">
                    <label for="contact-form-sender" class="form-label">Your Name:</label>
                    <input type="text" name="sender" class="form-control" id="contact-form-sender"
                        placeholder="Your Name" required>
                </div>
                <div class="mb-3">
                    <label for="contact-form-subject" class="form-label">Subject:</label>
                    <input type="text" name="subject" class="form-control" id="contact-form-subject"
                        placeholder="Your Subject" required>
                </div>
                <div class="mb-3">
                    <label for="contact-form-email" class="form-label">Email address:</label>
                    <input type="email" name="email" class="form-control" id="contact-form-email"
                        placeholder="name@example.com" required>
                </div>
                <div class="mb-3">
                    <label for="contact-form-message" class="form-label">Message:</label>
                    <textarea class="form-control" name="message" id="contact-form-message"
                        placeholder="Your message goes here ...." rows="3" required></textarea>
                </div>
                <div class="mb-3">
                    <!-- Form submit button and modal opener for showing the send status-->
                    <button type="submit" class="btn btn-primary" id="contact-form-send-modal-btn">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal to handel the display of the send action status-->
<div class="modal fade" id="contact-form-send-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="contact-form-send-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header salesware-background-color">
                <h1 class="modal-title fs-5 text-white" id="contact-form-send-modal-label">Form Submission Status</h1>
                <button type="button" id="contact-form-send-modal-x-close-btn" class="btn-close btn-close-white"
                    data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body response-message salesware-txt-color text-center" id="contact-form-send-modal-body">
                ...
            </div>
            <div class="modal-footer salesware-background-color text-white">
                <div class="container">
                    <div class="row">
                        <div class="d-flex align-items-start">
                            <div class="flex-grow-1 p-2"><img src="/static/images/small_logo.jpg" alt="Small Logo"
                                    width="80" height="45"></div>
                            <div class="p-2"><button type="button" id="contact-form-send-modal-close-btn"
                                    class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extras %}
<script src="{% static 'js/contact.js' %}" defer></script>
{% endblock %}