{% extends "base.html" %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-9 d-flex justify-content-center">
            <h1 class="salesware-txt-color salesware-h1-font">Sales Process Flow</h1>
        </div>
    </div>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-9">
                <div class="progress" style="height: 30px">
                    <div class="progress-bar salesware-background-color" id="opportunity-create-progress-bar"
                        role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                        Default</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div>
                <hr>
            </div>
        </div>
    </div>
</div>
<form id="opportunity-create-form" class="form-inline my-2 my-lg-0" method="post"
    action="{% url 'opportunity_create' %}">
    {% csrf_token %}
    <div class="container salesware-txt-color">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-sm-6 col-md-4 col-lg-6 col-xl-4">
                <label for="opportunity-create-name" class="form-label mt-1 mb-1 ms-1">Opportunity
                    Name:</label>
                <input name="name" type="text" class="form-control" id="opportunity-create-name"
                    placeholder="Opportunity Name" autocomplete="on" required>
            </div>
        </div>
    </div>
    <div class="container salesware-txt-color">
        <div class="row mt-4 d-flex justify-content-center">
            <div class="col-12 col-sm-6 col-md-3 col-lg-4 col-xl-2 mt-2">
                <div>
                    <label for="opportunity-create-prospect">Prospect Name:</label>
                    <select name="lead" id="opportunity-create-prospect" class="form-select form-control"
                        aria-label="select prospect from the dropdown options">
                        <option value="Default">--Select Prospect--</option>
                        {% for prospect in prospects %}
                        <option value="{{ prospect.id }}">{{ prospect }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-4 col-xl-2 mt-2">
                <div>
                    <label for="opportunity-create-product">Product Name:</label>
                    <select name="solution" id="opportunity-create-product" class="form-select form-control"
                        aria-label="select product from the dropdown options">
                        <option value="Default" selected>--Select Product--</option>
                        {% for product in products %}
                        <option value="{{ product.id }}" data-price="{{ product.product_price }}">{{ product }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="container salesware-txt-color">
        <div class="row mt-4 d-flex justify-content-center">
            <div class="col-12 col-sm-6 col-md-3 col-lg-4 col-xl-2 mt-2">
                <div> <label for="opportunity-create-product-price">Product Price:</label>
                    <input name="product-price" type="text" class="form-control" id="opportunity-create-product-price"
                        value="" autocomplete="off" disabled>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-4 col-xl-2 mt-2">
                <div>
                    <label for="opportunity-create-winning-probability">Winning Probability:</label>
                    <select name="probability" id="opportunity-create-winning-probability"
                        class="form-select form-control" aria-label="Select the Winning probability from the options>
                        <option value=" Default" selected>--Select Probability--</option>
                        <option value="25">25%</option>
                        <option value="50">50%</option>
                        <option value="75">75%</option>
                        <option value="100">100%</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="container salesware-txt-color">
        <div class="row mt-4 d-flex justify-content-center">
            <div class="col-12 col-sm-6 col-md-3 col-lg-4 col-xl-2 mt-2">
                <div> <label for="opportunity-create-status">Opportunity Status:</label>
                    <select name="status" id="opportunity-create-status" class="form-select form-control"
                        aria-label="Select opportunity status">
                        <option value="Default" selected>--Select Status--</option>
                        <option value="In Progress">In Progress</option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-4 col-xl-2 mt-2">
                <div>
                    <label for="opportunity-create-sales-process-stage">Sales Process Stage:</label>
                    <select name="sales_stage" id="opportunity-create-sales-process-stage"
                        class="form-select form-control" aria-label="Select opportunity sales stage">
                        <option value="Default" selected>--Select Stage--</option>
                        <option value="Lead">Lead</option>
                        <option value="Proposal">Proposal</option>
                        <option value="Negotiation">Negotiation</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="container salesware-txt-color">
        <div class="row mt-3 d-flex justify-content-center">
            <div class="col-9">
                <label for="opportunity-create-note" class="form-label mt-1 mb-1 ms-1">Note/Description:</label>
                <textarea name="note" class="form-control" id="opportunity-create-note"
                    placeholder="Some detail about the opportunity..." autocomplete="on" style="height: 200px;"
                    required></textarea>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="d-flex flex-wrap justify-content-end">
                <div class="col-4 col-sm-3 col-md-2 col-lg-1">
                    <!-- Button gets user back to the opportunity list page -->
                    <button type="button" id="opportunity-create-back-btn" class="btn btn-secondary back">
                        Back
                    </button>
                </div>
                <div class="col-4 col-sm-3 col-md-2 col-lg-1">
                    <!-- Button trigger modal to handle user response on the creation of new opportunity -->
                    <button type="button" id="opportunity-create-submit-btn" class="btn btn-success"
                        data-bs-toggle="modal" data-bs-target="#opportunity-create-modal">
                        create
                    </button>
                </div>
            </div>

        </div>
    </div>
</form>
<!-- Modal to feedback if opportunity creation is success or not -->
<div class="modal fade" id="opportunity-create-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="opportunity-create-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header salesware-background-color">
                <h1 class="modal-title fs-5 text-white" id="opportunity-create-modal-label">New Opportunity</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    id="opportunity-create-modal-x-close" aria-label="Close"></button>
            </div>
            <div class="modal-body response-message salesware-txt-color" id="opportunity-create-submit-modal-body">
                <!-- Here goes the create action response -->
            </div>
            <div class="modal-footer salesware-background-color text-white">
                <div class="container">
                    <div class="row">
                        <div class="d-flex align-items-start">
                            <div class="flex-grow-1 p-2"><img src="/static/images/small_logo.jpg" alt="Small Logo"
                                    width="80" height="45"></div>
                            <div class="p-2"><button type="button" class="btn btn-secondary mt-1"
                                    data-bs-dismiss="modal" id="opportunity-create-modal-close">Close</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}
{% block extras %}
<script src="{% static 'js/opportunity.js' %}" defer></script>
{% endblock extras %}