html, body {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}
main {
    flex-grow: 1;
}

.table td, .table th {
    color: #1172b8;
}

caption {
    color: #1172b8;
}

.salesware-color {
    background-color: #1172b8;
    color: #1172b8;
}