html,
body {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

/* Salesware Brand Style */

.salesware-background-color {
    background-color: #213E60;
}

.salesware-txt-color {
    color: #213E60;
}

.salesware-border-color {
    border-color: #213E60;
}

.salesware-h1-font {
    font-size: x-large;
}

/* Navbar style */

.navbar {
    background-color: #213E60;
    color: #fff;
}

.navbar-toggler {
    border-color: #fff;
    color: #fff;
}

.navbar-toggler-icon {
    filter: invert(100%)
}

.nav-link {
    color: #fff;
    background-color: #213E60;
}

.navbar-nav .dropdown-menu {
    background-color: #213E60;
    border-width: 0px;
}

.nav-link:focus,
.nav-link:hover {
    color: #fff;
    background-color: #213E60;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #fff;
}

/* Table Style */

.table td,
.table th {
    color: #213E60;
}

caption {
    color: #213E60;
}

/* Django AllAuth templates specific style */
#id_login,
#id_password,
#id_password1,
#id_username,
#id_password2 {
    color: #213E60;
    border-width: 1px;
    opacity: 1;
}

label[for="id_password"],
label[for="id_password1"] {
    padding-right: 5px;
}

.helptext,
#id_email,
label[for="id_email"] {
    display: none;
}

label[for="id_username"],
label[for="id_password1"],
label[for="id_password2"] {
    display: block;
}

form.login ul {
    padding-left: 0px;
}

form.login li {
    list-style-type: none;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #213E60;
    --bs-btn-border-color: #213E60;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #213E60;
    --bs-btn-hover-border-color: #213E60;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #213E60;
    --bs-btn-active-border-color: #213E60;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #213E60;
    --bs-btn-disabled-border-color: #213E60;
}

/* Modal Specific Styles */
.response-message {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}